body {
    font-family: sans-serif;
    background-color: rgb(24, 24, 24)!important;
  }
/*   
  .superblock {
    display: flex;
    justify-content: space-around;
  } */
  
/* .card {
  background-color: rgb(216, 8, 8)!important;
    border: 2px solid #353535;
    height: 14em;
    width: 10em;
    margin: 1em;
    display: block;
  
    padding: 1em;
  } */
/*   .notClicked {
    display: block;
  } */

.card img {
    width: 100%;
   
  }
.card{
  transition:0.2s;
  background-color: rgb(44, 44, 44)!important;
  color:rgb(206, 206, 206);
}

.cardBis{
  transition:0.2s;
  background-color: rgb(38, 38, 38) !important;
  color:rgb(255, 255, 255);
  border: 3px solid #2fb2db;
  border-radius:10px;
}

.card:hover{
  background-color: rgb(97, 22, 59)!important;
  transition:0.2s;

}


.btn:hover{

  background-color: rgb(212, 73, 96)!important;
  color:rgb(235, 235, 235)!important;
}

#combatLog{

  display: none;
}

.clicked{

  background-color:rgb(97, 22, 59)!important;
}

#fight{
  font-size:1rem;
}

#fight p:nth-child(even){
  padding:2%;
  background-color: rgb(226, 14, 60);
  border-radius:5px;
}

#fight p:nth-child(odd){
  padding:2%;
  background-color: rgb(43, 147, 216);
  border-radius:5px;
}
